
@import "./style/custom-theme.scss";
/* 引入 Taro UI 默认样式 */
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/message.scss";
@import "~taro-ui/dist/style/components/switch.scss";
@import "~taro-ui/dist/style/components/textarea.scss";

@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/checkbox.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/swipe-action.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/tag.scss";