@black: #0e0e0e;
@white: #fff;
@red: red;
@color_brand: #ffc701;
@color_brand_light: #ffd541;
@color_brand_dark: #cc9f01;
.btnBackgroundColor {
  background: @color_brand_light;
  background: linear-gradient(
    90deg,
    @color_brand_light 0%,
    @color_brand_dark 100%
  );
}
