@import "../../style/minix.less";
@import "../../style/color.less";



.wme-index {
  .btnBackgroundColor;
  width: 100%;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;

  // height: 200px;
  .content {
    border-radius: 8px;
    background-color: @white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 120px;
    .item {
      padding: 8px 0;
      display: grid;
      grid-template-areas: "img title title" "img price action";
      grid-template-columns: 232px 1fr 1fr;
      grid-template-rows: 160px 1fr;
      .img {
        .flex();
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        grid-area: img;
        width: 200px;
        height: 200px;
        // margin-right: 16px;
      }
      // .right {
      .title {
        .flex(row, flex-start, flex-start);
        padding-right: 32px;
        font-weight: bold;
        overflow: hidden; //超出的文本隐藏
        grid-area: title;
      }
      .price {
        .flex(row, flex-start, center);
        // font-weight: bold;
        grid-area: price;
        font-size: 80%;
      }
      .action {
        .flex(row, flex-end, center);
        margin-right: 32px;
        grid-area: action;
        .button-icon-sub,
        .button-icon-add {
          .flex(row, center, center);
          border-radius: 16px;
          padding: 8px;
        }
        .button-icon-add {
          background-color: @color_brand_dark;
        }
        .button-icon-sub {
          background-color: @color_brand_light;
        }
        .text {
          .flex(row, center, center);
          padding: 0 32px;
        }
      }
    }
    // }
  }
  .footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 16px;
    .inner {
      .flex(row, space-between, center);
      width: 100%;
      height: 80px;
      background: @black;
      border-radius: 40px;
      color: @white;
      .price {
        padding-left: 8px;
      }
      .button {
        .flex(row, center, center);
        .btnBackgroundColor;
        height: 100%;
        line-height: 100%;
        color: @black;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 0 16px;
      }
    }
  }
}
