@import "../../style/minix.less";
@import "../../style/color.less";
@tagBoxHeight: 80px;

.wme-index {
  // .btnBackgroundColor;
  width: 100%;
  padding: 0 8px;
  height: 100vh;
  box-sizing: border-box;
  .tag-box {
    width: 100%;
    height: @tagBoxHeight;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
  }
  .content {
    background-color: @white;
    height: calc(100vh - @tagBoxHeight);
    box-sizing: border-box;
    .flex(row, flex-start, flex-start);
    overflow: hidden;
  }
  .content-nav {
    // position: relative;
    box-sizing: border-box;
    width: 150px;
    height: 100%;
    .fix-box {
      // background-color: @color_brand_light;
      width: 150px;
      height: 100%;
      overflow: scroll;
      // position: absolute;
      // top: 0;
      // left: 0;
      .spacer {
        height: 100px;
      }
    }
    .flex(column, flex-start, center);
    .active {
      // background-color: @white;
      background-color: @color_brand_light;
      color: @white;
    }
    .btn {
      width: 100%;
      padding: 32px 16px;
      font-size: 32px;
      .flex(row, center, center);
    }
  }
  // height: 200px;
  .content-list {
    flex: 1;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
    padding-bottom: 120px;
    .item {
      margin-bottom: 20px;
      display: grid;
      grid-template-areas: "img title" "img price" "img action";
      grid-template-columns: 230px auto;
      grid-template-rows: auto 40px 60px;
      .img-box {
        display: flex;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        grid-area: img;
        width: 200px;
        height: 200px;
      }
      .img {
        width: 100%;
        // height: 300px;
        // margin-right: 16px;
      }
      // .right {
      .title {
        .flex(row, flex-start, flex-start);
        padding-right: 32px;
        font-weight: bold;
        overflow: hidden; //超出的文本隐藏
        grid-area: title;
        font-size: 32px;
      }
      .price {
        .flex(row, flex-end, center);
        padding-right: 32px;
        color: @red;
        font-weight: bold;
        grid-area: price;
        font-size: 32px;
      }
      .action {
        .flex(row, flex-end, center);
        // margin-right: 32px;
        grid-area: action;
        .button-icon-sub,
        .button-icon-add {
          padding: 32px;
          .button-icon-add-bg,
          .button-icon-sub-bg {
            padding: 8px;
            border-radius: 16px;
            .flex(row, center, center);
          }
        }
        .button-icon-add-bg {
          background-color: @color_brand_dark;
        }
        .button-icon-sub-bg {
          background-color: @color_brand_light;
        }
        .button-icon-bg {
        }
        .text {
          .flex(row, center, center);
          padding: 0 32px;
        }
      }
    }
    // }
  }
  .footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 16px;
    .inner {
      .flex(row, space-between, center);
      width: 100%;
      height: 80px;
      background: @black;
      border-radius: 40px;
      color: @white;
      .price {
        padding-left: 32px;
      }
      .button {
        .flex(row, center, center);
        .btnBackgroundColor;
        font-size: 28px;
        margin: 0;
        height: 100%;
        line-height: 100%;
        color: @black;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 0 16px;
      }
    }
  }
}
