@import "../../style/minix.less";
@import "../../style/color.less";
@tagBoxHeight: 80px;

.wme-index {
  // .btnBackgroundColor;
  width: 100%;
  padding: 0 8px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .filter-box {
    width: 100%;
    // height: @tagBoxHeight;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    .tag-box {
      padding: 8px;
    }
  }
  .content {
    background-color: @white;
    flex: 1;
    // height: calc(100vh - @tagBoxHeight);
    box-sizing: border-box;
    .flex(row, flex-start, flex-start);
    // overflow: hidden;
  }
  .content-nav {
    // position: relative;
    box-sizing: border-box;
    width: 150px;
    height: 100%;
    .fix-box {
      // background-color: @color_brand_light;
      width: 150px;
      height: 100%;
      overflow: scroll;
      // position: absolute;
      // top: 0;
      // left: 0;
      .spacer {
        height: 100px;
      }
    }
    .flex(column, flex-start, center);
    .active {
      // background-color: @white;
      background-color: @color_brand_light;
      color: @white;
    }
    .btn {
      width: 100%;
      padding: 32px 16px;
      font-size: 32px;
      .flex(row, center, center);
    }
  }
  // height: 200px;
  .content-list {
    flex: 1;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    .item {
      box-sizing: border-box;
      width: 50%;
      padding: 0 20px 0 20px;
      display: grid;
      grid-template-areas:
        "img"
        "title"
        "price"
        "action";
      grid-template-columns: auto;
      grid-template-rows: auto;
      height: 520px;
      .img-box {
        display: flex;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        grid-area: img;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
      }
      // .right {
      .title {
        overflow: hidden; //超出的文本隐藏
        text-overflow: ellipsis;
        white-space: nowrap;
        grid-area: title;
        font-size: 32px;
        padding-left: 20px;
        line-height: 60px;
      }
      .stocksItem {
        color: rgb(189, 184, 184);
        font-size: 26px;
      }

      .price {
        .flex(row, space-between, center);
        padding-left: 20px;
        grid-area: price;
        color: @red;
        font-size: 32px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: start;
        .price-num {
          padding-right: 8px;
        }
        .price-des {
          font-size: 20px;
          color: rgb(92, 88, 88);
        }
      }
      .action {
        .flex(row, flex-end, center);
        // margin-right: 32px;
        grid-area: action;
        .button-icon-sub,
        .button-icon-add {
          padding: 32px;
          .button-icon-add-bg,
          .button-icon-sub-bg {
            padding: 8px;
            border-radius: 16px;
            .flex(row, center, center);
          }
        }
        .button-icon-add-bg {
          background-color: @color_brand_dark;
        }
        .button-icon-sub-bg {
          background-color: @color_brand_light;
        }
        .button-icon-bg {
        }
        .text {
          .flex(row, center, center);
          padding: 0 32px;
        }
      }
    }
    .category-title {
      padding-left: 8px;
      font-size: 28px;
      // height: 28px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 50px;
    }
    // }
  }
  .footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 16px;
    .inner {
      .flex(row, space-between, center);
      width: 100%;
      height: 80px;
      background: @black;
      border-radius: 40px;
      color: @white;
      .price {
        padding-left: 32px;
      }
      .button {
        .flex(row, center, center);
        .btnBackgroundColor;
        font-size: 28px;
        margin: 0;
        height: 100%;
        line-height: 100%;
        color: @black;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 0 16px;
      }
    }
  }
}
